---
import Nav from "@/components/Nav/Nav.astro";
import Layout from "../layouts/Layout.astro";
import IndexPage from "@components/IndexPage";
---

<Layout title="Bodega">
  <IndexPage client:only="react" />
  <main class="bg-[#070030] h-screen">
    <Nav />
    <picture class="flex justify-center items-center">
      <img src="../../public/img/mainPage.png" class="w-[75%]" alt="Imagen de una computadora">
    </picture>
  </main>
</Layout>
