---
import CerrarSesion from "./CerrarSesion";
const pathname = Astro.url.pathname;
---

<nav class="flex flex-wrap gap-5 md:gap-0 justify-center items-center md:justify-between pb-4 pt-8 px-8 text-white">
  <ul class="hidden md:flex">
    <li class="font-[900]">BodegaJhoan</li>
  </ul>

  <ul class="flex gap-5 md:gap-20 font-bold">
    <li>
      <a href="/" class={pathname === "/" ? "text-red-500" : ""}>Inicio</a>
    </li>
    <li>
      <a
        href="/clientes/clientes"
        class={pathname === "/clientes/clientes" ? "text-red-500" : ""}
        >Clientes</a>
    </li>
    <li>
      <a
        href="/productos/productos"
        class={pathname === "/productos/productos" ? "text-red-500" : ""}
        >Productos</a>
    </li>
  </ul>

  <CerrarSesion client:only="react" />
</nav>
